// Mixins Here
.flex-it(@direction: column){
    display: flex;
	justify-content: center;
    align-items: center;
    flex-direction: @direction;
}
.nav-text(@size: 1.6rem){
    font-size: @size;
    text-decoration: none;
    color: @ebony-clay;
}